*.docx
*.exe
.vscode
*.mp4
*.class
*.iml
*.xml
*.config
*.sln
*.csproj
*.exe
*.exe.config
*.pdb
*.vsidx
*.cache
*.wsuo
*.AssemblyAttributes.cs
*AssemblyInfo.cs
*slnx.sqlite
*.suo
*.json
*.user
.idea
.gitignore
